body {
    font-family:  "Arial" , "Comic Sans MS" , sans-serif;
    background-color: aliceblue;}


.button {
    border-radius: 6px;
    background-color: lightblue;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px}
a:hover, a:active {
    Border-radius: 6px;
    background-color: lightgreen;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
}
.button1 {
    border-radius: 6px;
    background-color: lightsalmon;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px}


.button2 {
    border-radius: 6px;
    background-color: lightskyblue;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 11%;
}
a.button2:hover, a.button2:active {
        Border-radius: 6px;
        background-color: red;
        border: 1px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin-bottom: 20px;
        margin-right: 11%;
}

.button2a {
    border-radius: 6px;
    background-color: lightskyblue;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    Margin-right: 1250px;}
}
a.button2a:hover, a.button2a:active {
    Border-radius: 6px;
    background-color: red;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    Margin-right: 1250px;}

.button3 {
    border-radius: 1px;
    background-color: lightsalmon;
    border: 1px;
    color: white;
    padding: 1px 1px;
    text-align: left;
    text-decoration: none;
    display: inline;
    font-size: 17px;
    margin-bottom: 1px;
    margin-right: 1px;}

a.button3:hover, a.button3:active {
    Border-radius: 1px;
    background-color: lightgreen;
    border: 1px;
    color: white;
    padding: 1px 1px;
    text-align: left;
    text-decoration: none;
    display: inline;
    font-size: 17px;
    margin-bottom: 1px;
    Margin-right: 1px;}


h1 {
    Border-radius: 0%;
    background-color: lightsalmon;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;}

h3 {
    color: black;
    text-decoration: none;
    font-size: 25px;}

h4 {
    color: black;
    text-decoration: none;
    font-size: 25px;}

h5 {
    Border-radius: 0%;
    background-color: lightskyblue;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 15px;}
